
body {
background-color: yellowgreen;

}
.flex-container {
    display: flex;
    background-color: yellowgreen;
    justify-content: space-between;

}

.caja1  {
    background-color: blue;
    width: 350px;
    margin: 9px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
   
}


.caja2 {
    background-color: violet;
    width: 300px;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;    
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin-block: 7px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caja3 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-block: 25px;
    flex-wrap: wrap;
    
    
}

.centro {
    display: flex;
    background-color: red;
    width: 2300px;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
    margin-left: 90px;
    flex-wrap: wrap;
    justify-content: center;
    
}



.centro1  {
    background-color: blue;
    width: 500px;
    height: 300px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.centro2 {
    background-color: violet;
    width: 390px;
    height: 250px;
    margin-left: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    flex-wrap: wrap;
}

.centro3 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-block: 50px;
    flex-wrap: wrap;
    
    
}

.abajo {
    display: flex;
    
   
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}


.abajo1  {
    background-color: blue;
    width: 500px;
    height: 300px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.abajo2 {
    background-color: violet;
    width: 390px;
    height: 250px;
    margin-left: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abajo3 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-block: 50px;
    flex-wrap: wrap;
    
    
}